@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    @keyframes grow {
        0% {
          width: 0;
        }
        100% {
          width: var(--progress-width);
        }
      }

      .progress-bar {
        --progress-width: 0%;
        animation: grow 5s forwards;
        transition: width 2s ease-out;
      }


      .zoom-in {
        transform: scale(0);
        animation: zoomIn 1s forwards;
      }
      
      @keyframes zoomIn {
        0% { transform: scale(0); }
        100% { transform: scale(1); }
      }

      

.submit-button:disabled {
  background-color: #6c757d;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
          
      
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}